.green-button{
    background: #F5B54A;
    border: 0;
    padding: 7px 15px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}
.green-button:hover{
    background: #F5B54A;
}
.green-button-proceed{
    background: #F5B54A;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}
.section-header h3::before {

    content: '';

    position: absolute;

    display: block;

    width: 29%;

    height: 1px;

    background: #ddd;

    bottom: 1px;

    left: 35%;

}

.section-header h3::after {

    content: '';

    position: absolute;

    display: block;

    width: 5%;

    height: 3px;

    background: #9ABDB7;

    bottom: 0;

    left: 35%;

}

.after-left-arrow::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f33a";
    position: absolute;
    display: block;
    left: 32%;
    color: #f4b92d;
}
.after-right-arrow::after {

    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f33b";
    position: absolute;
    color: #f4b92d;
    display: block;
    left: 65%;

}

.after-title-step2::after {
    content: '';
    position: absolute;
    display: block;
    width: 5%;
    height: 3px;
    background: red;
    bottom: 0;
    left: 41%;
}
.after-title-step3::after {
    content: '';
    position: absolute;
    display: block;
    width: 5%;
    height: 3px;
    background: red;
    bottom: 0;
    left: 47%;
}
.after-title-step4::after {
    content: '';
    position: absolute;
    display: block;
    width: 5%;
    height: 3px;
    background: red;
    bottom: 0;
    left: 53%;
}
.after-title-step5::after {
    content: '';
    position: absolute;
    display: block;
    width: 5%;
    height: 3px;
    background: red;
    bottom: 0;
    left: 59%;
}
@media only screen and (max-width: 362px){

    .section-header h3::before {

        left: 29%;
        width: 29%;

    }

    .section-header h3::after {

        left: 29%;

    }

    .after-title-step2::after {

        left: 35%;
    }

    .after-title-step3::after {

        left: 41%;
    }
    .after-title-step4::after {

        left: 47%;
    }
    .after-title-step5::after {

        left: 53%;
    }

}

@media only screen and (min-width: 363px) and (max-width: 767px){

    .section-header h3::before {

        left: 35%;
        width: 29%;

    }

    .section-header h3::after {

        left: 35%;

    }

    .after-title-step2::after {

        left: 41%;
    }

    .after-title-step3::after {

        left: 47%;
    }
    .after-title-step4::after {

        left: 53%;
    }
    .after-title-step5::after {

        left: 59%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1123px){

#intro .carousel-item {
    height: 8vh;
}
#header.header-scrolled .main-page-header nav
{
    float: none;
}
#header.header-scrolled
{
    height: 150px;
}
    .section-header h3::before {
        width: 29%;
        left: 35%;

    }
    .section-header h3::after {

        left: 35%;

    }

    .after-title-step2::after {

        left: 41%;
    }
    .after-title-step3::after {

        left: 47%;
    }
    .after-title-step4::after {

        left: 53%;
    }
    .after-title-step5::after {

        left: 59%;
    }

}


@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {

    .section-header h3::before {
        width: 29%;
        left: 35%;

    }
    .section-header h3::after {

        left: 35%;

    }

    .after-title-step2::after {

        left: 41%;
    }

    .after-title-step3::after {

        left: 47%;
    }
    .after-title-step4::after {

        left: 53%;
    }
    .after-title-step5::after {

        left: 59%;
    }
}

/* Landscape */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .section-header h3::before {
        width: 29%;
        left: 35%;

    }
    .section-header h3::after {

        left: 35%;

    }

    .after-title-step2::after {

        left: 41%;
    }

    .after-title-step3::after {

        left: 47%;
    }
    .after-title-step4::after {

        left: 53%;
    }
    .after-title-step5::after {

        left: 59%;
    }

}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    /*margin: 100px auto;*/
    overflow: hidden;
    padding: 25px;
    padding-bottom: 150px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    /*margin-top: 20px;*/
    position: relative;
}

.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}

.creditCardForm .payment .form-control {
    /*line-height: 40px;*/
    /*height: auto;*/
    /*padding: 0 16px;*/
}

.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}

.creditCardForm .CVV {
    width: 35%;
}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 36px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: #2ec4a5;
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}


/*  Examples Section */

.examples {
    max-width: 700px;
    background-color: #fff;
    margin: 0 auto 75px;
    padding: 30px 50px;
    color: #4c4e56;
}

.examples-note{
    text-align: center;
    font-size: 14px;
    max-width: 370px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color: #7a7a7a;
}

.examples table {
    margin: 5px 0 0 0;
    font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 990px){
    .home-find-location { font-size: 12px; padding: 10px 20px;}
    .nav-homewrapp { display: none;}
    .crossbtn,.mobile-menu-wrap { display: block !important;}
    .crossbtn { float: right; color: #fff; font-size: 27px;}
    .mobile-menu-wrap {
     position: fixed;
    top: 0px;
    left: -100%;
    width: 240px;
    padding: 30px 10px 0;
    background: #9abdb9;
    height: 100vh;
    overflow: auto;
    }
    .mobile-menu-wrap ul li {float: left; width: 100%; margin: 0px 0px 8px;}
    .mobile-menu-wrap ul li a {padding: 0px;}
    #header #logo img { width: 110px;}
    .crossbtn.fa-bars.active:before {content: '\f00d';}
    .mobile-menu-wrap.active { left: 0px;}
    .crossbtn:hover { color: #fff;}
}
@media (max-width: 767px){
    #header #logo img { width: 110px;}
    .crossbtn.fa-bars.active:before {content: '\f00d';}
    .home-find-location { margin-bottom: 5px; width: 100%;}
    .intro-home { width: 100% !important; margin-top: 0px !important;}
    .nav-homewrapp { display: none;}
    .crossbtn,.mobile-menu-wrap { display: block !important;}
    .crossbtn { float: right; color: #fff; font-size: 27px;}
    .crossbtn:hover { color: #fff;}
    .mobile-menu-wrap {
     position: fixed;
    top: 0px;
    left: -100%;
    width: 240px;
    padding: 30px 10px 0;
    background: #9abdb9;
    height: 100vh;
    overflow: auto;
    }
    .mobile-menu-wrap.active { left: 0px;}
    .mobile-menu-wrap ul li {float: left; width: 100%; margin: 0px 0px 8px;}
    .mobile-menu-wrap ul li a {padding: 0px;}
}


/*
@media (max-width: 1024px) and (min-width: 1024px){
     .nav-homewrapp { display: contents;}
}
*/
@media screen and (min-width: 991px) and (max-width: 1250px) {
     .nav-homewrapp { display: contents;}
}

