.line{
    margin-top: 0rem;
    /*background-color:#5a5a5a ;*/
    background-color:orange ;
}
.line-left{
    width: 90%;
    text-align: right;
    margin-right: 0px;
}

.line-right{
    width: 90%;
    text-align: left;
    margin-left: 0px;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0rem 0.5rem;

}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container label {
    margin: 15px;
}

table.dataTable tbody tr:hover {
    background-color:#71d1eb !important;
}


.styled-radio {
    margin: 5px;
    padding-top: 5px;
    width: 75px;
    height: 100px;
    background: #00c0ef;
    border: 5px solid #559DE4;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    line-height: 40px;
    /*opacity:0.7;*/
    /*filter:alpha(opacity=70);*/

}
.styled-radio-purple{
     margin: 5px;
    padding-top: 5px;
    width: 75px;
    height: 100px;
    background: #BA55D3;
    border: 5px solid #559DE4;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    line-height: 40px;
}
.styled-radio-orange{
     margin: 5px;
    padding-top: 5px;
    width: 75px;
    height: 100px;
    background: orange;
    border: 5px solid #559DE4;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    line-height: 40px;
}
.styled-radio-red {
    margin: 5px;
    padding-top: 5px;
    width: 75px;
    height: 100px;
    background: #B5040C;
    border: 5px solid #ffb2b2;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    line-height: 40px;
    /*opacity:0.7;*/
    /*filter:alpha(opacity=70);*/
    background-color: #B5040C;

}
.styled-radio-gray {
    margin: 5px;
    padding-top: 5px;
    width: 75px;
    height: 100px;
    background: gray;
    border: 5px solid #9d9d9d ;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    line-height: 40px;
    /*opacity:0.7;*/
    /*filter:alpha(opacity=70);*/
    /*background-color: #00c0ef;*/

}



.gray { background: gray; }

.invisible-radio {
    /* per https://a11yproject.com/posts/how-to-hide-content/ */
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.invisible-radio:checked + label .styled-radio::after {

    font-size: 3em;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    width: 150px;
    text-align: center;
}

.invisible-radio:not(:checked) + label {
    cursor: pointer;
}

.invisible-radio:not(:checked) + label:hover .styled-radio  {
    opacity: 0.7;
    background: #00c0ef;
    border: 5px solid #559DE4;
}
.invisible-radio:not(:checked) + label:hover .styled-radio  {
    opacity: 0.7;
    background: #00c0ef;
    border: 5px solid #559DE4;
}
.invisible-radio:not(:checked) + label:hover .styled-radio .icon-tick {
    padding: 4px;
    border-radius: 100%;
    background-color: #00c0ef;

}

.invisible-radio:checked + label .styled-radio {
    transform: scale(1, 1);
    /*background: #00c0ef!important;*/
    border: 5px solid #66ff66;
    animation: pulsate 1s alternate ease-in-out infinite;
}
.invisible-radio:focus + label .styled-radio .icon-tick {
    padding: 4px;
    border-radius: 100%;
    background-color: #66ff66;
    opacity: 1;
    visibility: visible;
    /*background: white;*/
}

.after-title-step2::after {
    background: #9ABDB7;
}
.after-title-step3::after {
    background: #9ABDB7;
}
.icon-tick{
    padding: 4px;
    border-radius: 100%;
    background-color: #559DE4;
    opacity: 0.6;
    visibility: hidden;
}
.icon-cross{
    padding: 4px 7px;
    border-radius: 100%;
    background-color: red;
    opacity: 0.3;
}

.cell{
    flex: 0 0 25%;
    max-width: 25%
}

i.red-circle {
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0px 0px 2px #B5040C;
    padding: 0.5em 0.6em;
    background-color: #B5040C;
    color: white;


}

i.green-circle {
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0px 0px 2px #9CBBBD;
    padding: 0.5em 0.6em;
    background-color: #9CBBBD;
    color: white;
}

i.blue-circle {
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0px 0px 2px #94AACF;
    padding: 0.5em 0.6em;
    background-color: #94AACF;
    color: white;
}

.right_school_booking_block{
    margin-bottom: 10px !important;
}
#blocksTable>tbody>tr>td{
    color: black !important;
}

.edit-card-header{
    border-bottom: 1px solid #00C0EF;
}
.page-link{
    padding: 16px;
    color: #525252;
    text-decoration: none;
    background-color: transparent;
}

.header_icon_margin{
    margin-right: 10px !important;
}
.header_icon_margin_left{
    margin-left: 10px !important;
}

#blocksTable>tbody>tr>td:nth-child(5),#blocksTable>tbody>tr>th:nth-child(5){
    width: 20% !important;
    text-align: center;
}

#blocks>div>div>div>#blocksTable_wrapper>div{
    width: 100% !important;
}

#blocksTable_length>label{
    float: left !important;
}
#blocksTable_filter>label{
    float: right !important;
}

#sample_6>tbody>tr>td:nth-child(4),#sample_6>tbody>tr>th:nth-child(4){
    width: 12% !important;
    text-align: center;
}
#sample_6_filter>label{
    float:right !important;
}

#sample_6_length>label {
    float: left !important;
}
#sample_6_wrapper>div {
    width:100% !important;
}