.flip-scroll table {
    width: 100%;
}

.dataTables_paginate .pagination{
    float: right;
}
@media (max-width: 768px) {
    /* 768px */
    .flip-scroll .flip-content:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    div.dataTables_wrapper div.dataTables_info {
        white-space: inherit;
    }
    .flip-scroll * html .flip-content {
        zoom: 1;
    }
    .flip-scroll *:first-child + html .flip-content {
        zoom: 1;
    }
    .flip-scroll table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .flip-scroll th,
    .flip-scroll td {
        margin: 0;
        vertical-align: top;
    }
    .flip-scroll th {
        text-align: left;
        border: 0 !important;
        border-bottom: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        font-size: 13px !important;
        padding: 5px;
        width: auto !important;
    }
    .flip-scroll table {
        display: block;
        position: relative;
        width: 100%;
    }
    .flip-scroll thead {
        display: block;
        float: left;
    }
    .flip-scroll tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    .flip-scroll thead tr {
        display: block;
    }
    .flip-scroll th {
        display: block;
        text-align: right;
    }
    .flip-scroll tbody tr {
        display: inline-block;
        vertical-align: top;
        margin-left: -5px;
    }
    .flip-scroll td {
        display: block;
        min-height: 1.25em;
        text-align: left;
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    /* sort out borders */
    .flip-scroll th {
        border-bottom: 0;
        border-left: 0;
    }
    .flip-scroll td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    .flip-scroll tbody tr {
        border-left: 1px solid #ddd;
    }
    .flip-scroll th:last-child,
    .flip-scroll td:last-child {
        border-bottom: 1px solid #ddd;
    }
    .dataTables_wrapper .dataTables_length .form-control,
    .dataTables_wrapper .dataTables_filter .form-control {
        display: inline-block;
    }
    .dataTables_wrapper .dataTables_info {
        top: 17px;
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-top: -15px;
    }
}


/***
Custom tables
***/

.table-toolbar {
    /*margin-bottom: 15px;*/
}

.table.table-full-width {
    width: 100% !important;
}

.table .btn {
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
}

.table thead tr th {
    font-weight: 600;
}

.warning .table thead tr th {
    color: #cc6000;
}

.success .table thead tr th {
    color: #558000;
}

.info .table thead tr th {
    color: #7a29a3;
}

.primary .table thead tr th {
    color: #2180ac;
}

.danger .table thead tr th {
    color: #990000;
}

.warning .pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #ff9933;
    color: #cc6000;
}

.warning .pagination a {
    color: #cc6000;
}

.primary .pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #4fb7fe;
    border-color: #2a9fd6;
    color: #2180ac;
}

.primary .pagination a {
    color: #2180ac;
}

.info .pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    color: #fff;
}

.info .pagination a {
    color: #7a29a3;
}

.table-advance {
    margin-bottom: 10px !important;
}

.table-advance thead {
    color: #999;
}

.table-advance thead tr th {
    background-color: #DDD;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}

.table-advance div.success,
.table-advance div.info,
.table-advance div.important,
.table-advance div.warning,
.table-advance div.danger {
    position: absolute;
    margin-top: -5px;
    float: left;
    width: 2px;
    height: 30px;
    margin-right: 20px !important;
}

.table_status_padding tr td span {
    padding: 3px 5px;
    border-radius: 3px;
}
.btn.info-stripe {
    border-left: 3px solid #347dff;
}

.btn.green-stripe {
    border-left: 3px solid #F5B54A;
}

.btn.red-stripe {
    border-left: 3px solid #EF6F6C;
}


.label-danger {
    background-color: #EF6F6C;
}

.table-advance tr td {
    border-left-width: 0;
}

.table-advance tr td:first-child {
    border-left-width: 1px !important;
}

.table-advance tr td.highlight:first-child a {
    margin-left: 15px;
}

.table-advance td.highlight div.primary {
    border-left: 2px solid #4fb7fe;
}

.table-advance td.highlight div.success {
    border-left: 2px solid #F5B54A;
}

.table-advance td.highlight div.info {
    border-left: 2px solid #bd7bde;
}

.table-advance td.highlight div.warning {
    border-left: 2px solid #ff9933;
}

.table-advance td.highlight div.danger {
    border-left: 2px solid #EF6F6C;
}

@media (max-width: 767px) {
    /* 767px */
    .table-advance tr > td.highlight:first-child a {
        margin-left: 8px;
    }
}


/***
Datatables Plugin(in v1.3)
***/

.dataTable {
    width: 100%;
    clear: both;
    margin-top: 5px;
}
.show-hide {
    margin-top: -5px;
}
.dataTables_filter .form-control {
    margin-left: 4px;
}

.dataTables_filter label {
    line-height: 32px;
}

.dataTable .row-details {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.dataTable .row-details.row-details-close {
    background: url("../../img/datatable-row-openclose.png") no-repeat 0 0;
}

.dataTable .row-details.row-details-open {
    background: url("../../img/datatable-row-openclose.png") no-repeat 0 -23px;
}

.dataTable .details {
    background-color: #eeeeee;
}

.dataTable .details td,
.dataTable .details th {
    padding: 4px;
    background: none;
    border: 0;
}

.dataTable .details tr:hover td,
.dataTable .details tr:hover th {
    background: none;
}

.dataTable .details tr:nth-child(odd) td,
.dataTable .details tr:nth-child(odd) th {
    background-color: #eee;
}

.dataTable .details tr:nth-child(even) td,
.dataTable .details tr:nth-child(even) th {
    background-color: #eee;
}

.dataTable > thead > tr > th.sorting,
.dataTable > thead > tr > th.sorting_asc,
.dataTable > thead > tr > th.sorting_desc {
    padding-right: 18px;
}

.dataTable .table-checkbox {
    width: 8px !important;
}

@media (max-width: 480px) {
    .dataTables_wrapper .dataTables_filter .form-control {
        width: 175px !important;
    }
    .dataTables_wrapper .dataTables_paginate {
        float: left;
        margin-top: 20px;
    }
    .dataTables_extended_wrapper div.dataTables_paginate,
    .dataTables_extended_wrapper div.dataTables_length,
    .dataTables_extended_wrapper div.dataTables_info {
        display: block;
        margin-bottom: 10px !important;
    }
    .dataTables_extended_wrapper .seperator {
        display: none !important;
    }
}

.dataTables_processing {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 125px;
    margin-left: 0;
    padding: 7px;
    text-align: center;
    color: #333;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #eee;
    vertical-align: middle;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.dataTables_processing span {
    line-height: 15px;
    vertical-align: middle;
}

.dataTables_empty {
    text-align: center;
}


/***
TableTools
***/

.tabletools-btn-group {
    margin: 0 0 10px 0;
}

.tabletools-btn-group > .btn {
    margin-right: 5px;
}

.tabletools-btn-group > .btn:last-child {
    margin-right: 0;
}

.tabletools-dropdown-on-portlet {
    margin-top: -55px;
    float: right;
}

.tabletools-dropdown-on-portlet > .btn {
    margin-right: 2px;
}

.tabletools-dropdown-on-portlet > .btn:last-child {
    margin-right: 0;
}

.DTTT_Print {
    background-color: #fff;
}

.DTTT_Print .DTTT_PrintMessage {
    display: none;
}

@media print {
    .DTTT_Print .DTTT_PrintMessage {
        display: inline-block;
    }
}

.DTTT_Print .DTTT_Print_Info {
    display: block;
    position: fixed;
    top: 35px;
    font-size: 18px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    text-align: center;
}

.DTTT_Print .page-sidebar,
.DTTT_Print .page-header,
.DTTT_Print .page-footer {
    display: none;
}

.DTTT_Print .page-content-wrapper {
    float: none;
}

.DTTT_Print .row,
.DTTT_Print [class*="col-"] {
    padding: 0;
    margin: 0;
}

.DTTT_Print .page-content {
    margin: 50px auto !important;
    border: 0 !important;
    width: 800px !important;
    padding: 0 !important;
}

.DTTT_Print .page-content .portlet {
    border: 0;
    padding: 0;
}

.DTTT_Print .page-content .portlet .portlet-body {
    padding: 0;
}

.DTTT_Print .page-content .dataTables_wrapper {
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
}

@media print {
    .DTTT_Print .page-content .dataTables_wrapper {
        box-shadow: none;
    }
}


/***
Extended pagination
***/

.paging_bootstrap_extended {
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
    font-size: 13px;
}

.dataTables_extended_wrapper .seperator {
    padding: 0 2px;
}

.dataTables_extended_wrapper div.dataTables_paginate,
.dataTables_extended_wrapper div.dataTables_length,
.dataTables_extended_wrapper div.dataTables_info {
    display: inline-block;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    position: static !important;
}
.dataTables_extended_wrapper div.dataTables_length label {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 13px;
    float: none !important;
    display: inline-block !important;
}

.table-container .table-actions-wrapper {
    display: none;
}


/***
Scroller Extension
***/

.dataTables_scroll {
    margin-bottom: 10px;
}
.dataTables_scroll #example{
    width: 100% !important;
}
.dataTables_scrollHead {
    border-bottom: 2px solid #ddd !important;
}

.dataTables_scrollHead thead th {
    border-bottom: 0 !important;
}

.dataTables_scrollBody {
    border-bottom: 1px solid #ddd !important;
}


/***
Select2 Plugin
***/

.form-control .select2-choice {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    background-image: none;
    filter: none;
    height: 34px;
    padding: 3px 0 0 12px;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #e5e5e5;
    background-color: #fff;
    background-image: none;
    filter: none;
}

.select2-drop {
    border: 1px solid #e5e5e5;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    border-top: 0;
}

.select2-drop-auto-width {
    border-top: 1px solid #e5e5e5;
}

.select2-drop.select2-drop-above {
    border-top: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-drop-active {
    border: 1px solid #999999;
    border-top: 0;
}

.select2-container .select2-choice .select2-arrow {
    background-image: none;
    background-color: #fff;
    filter: none;
    border-left: 1px solid #e5e5e5;
}

.select2-container.select2-container-active .select2-arrow,
.select2-container.select2-dropdown-open .select2-arrow {
    border-left: 0 !important;
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 0 1px;
}

.select2-search input {
    border: 1px solid #e5e5e5;
    background-color: #fff !important;
    filter: none;
    margin: 0;
    outline: 0;
    webkit-appearance: none !important;
    color: #333333;
    height: auto !important;
    min-height: 26px;
    padding: 6px 6px !important;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 5px;
}

.form-control.select2-container {
    border: 0;
    height: auto !important;
    padding: 0;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #999999 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-dropdown-open .select2-choice {
    border-bottom: 0 !important;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #999999 !important;
    border-top: 0 !important;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border: 1px solid #999999 !important;
    border-bottom: 0 !important;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

.select2-results {
    margin: 5px 0;
}

.select2-results .select2-highlighted {
    background: #eee;
    color: #333;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    padding: 3px 7px 4px;
    background: #f4f4f4;
    display: list-item;
}

.select2-container-multi .select2-choices {
    padding-left: 6px;
    min-height: 34px;
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #999 !important;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 5px 0 3px 5px;
    border: 1px solid #e5e5e5;
    background-image: none;
    background-color: #fff;
    filter: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dropdown-radiobuttons label,
.dropdown-checkboxes label {
    display: block;
    font-weight: 500;
    color: #333;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 3px;
}

.dropdown-radiobuttons label .radio,
.dropdown-checkboxes label .radio {
    margin-right: 3px;
}

.dropdown_checkbox_margin_left {
    margin-left: -54px;
}

.table_status_padding .tag {
    padding: 4px 7px;
}
/* Form input sizing */

.input-mini {
    width: 45px !important;
}

.input-xsmall {
    width: 80px !important;
}

.input-medium {
    width: 240px !important;
}

.input-large {
    width: 320px !important;
}

.input-xlarge {
    width: 480px !important;
}

.input-inline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.portlet > .portlet-title:before,
.portlet > .portlet-title:after {
    content: " ";
    display: table;
}

.portlet > .portlet-title:after {
    clear: both;
}

.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.portlet.box > .portlet-title {
    margin-bottom: 0;
    padding: 10px 10px 4px 10px;
    color: #fff;
}

.table-hover>tbody>tr>td.active:hover,
.table-hover>tbody>tr>th.active:hover,
.table-hover>tbody>tr.active:hover>td,
.table-hover>tbody>tr:hover>.active,
.table-hover>tbody>tr.active:hover>th {
    background-color: #92bce0;
}

.table>tbody>tr.success>td {
    background-color: #F5B54A;
}

.table-hover>tbody>tr.success:hover>td {
    background-color: #77b300;
}

.table>tbody>tr.primary>td {
    background-color: #4fb7fe;
}

.table-hover>tbody>tr.primary:hover>td {
    background-color: #2a9fd6;
}

.table>tbody>tr.info>td {
    background-color: #bd7bde;
}

.table-hover>tbody>tr.info:hover>td {
    background-color: #9933cc;
}

.table>tbody>tr.warning>td {
    background-color: #ff9933;
}

.table-hover>tbody>tr.warning:hover>td {
    background-color: #ff8800;
}

.table>tbody>tr.danger>td {
    background-color: #EF6F6C;
}

.table-hover>tbody>tr.danger:hover>td {
    background-color: #cc0000;
}

div.DTTT .btn {
    color: #fff !important;
    font-size: 12px;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: right;
}

a:hover {
    position: relative;
    text-decoration: none;
}

a[data-title]:hover:after {
    content: attr(data-title);
    padding: 2px 8px;
    color: #fff;
    position: absolute;
    left: -150%;
    top: 100%;
    z-index: 20;
    white-space: nowrap;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-image: -moz-linear-gradient(top, #2c2c2c, #424242);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2c2c2c), color-stop(1, #424242));
    background-image: -webkit-linear-gradient(top, #2c2c2c, #424242);
    background-image: -moz-linear-gradient(top, #2c2c2c, #424242);
    background-image: -ms-linear-gradient(top, #2c2c2c, #424242);
    background-image: -o-linear-gradient(top, #2c2c2c, #424242);
}

.portlet.primary {
    background-color: #2a9fd6;
    border: 1px solid #eee;
}


/* User Grid */

.dataTables_paginate > ul > .active a:hover {
    color: #fff;
    background-color: #4fb7fe;
}

#editable_table_new {
    background-color: #4fb7fe !important;
    color: #fff;
}

@media (max-width: 1200px) {
    #editable_table_wrapper .fa-eye {
        margin-right: -3px;
    }
    #sample_5_wrapper .dataTables_scrollBody {
        width: 101.7% !important;
    }
}

.users_grid_tools .tools a,
.users_grid_tools .tools a:hover {
    background-color: #4fb7fe !important;
    border: 1px solid #fff !important;
    color: #fff;
    padding: 8px;
}

.users_grid_tools .DTTT_button_print,
.paginate_button {
    cursor: pointer;
}

.users_grid_tools {
    margin-top: 7px;
}

#editable_table_wrapper .dataTables_length label {
    margin-top: 15px;
}

#editable_table_wrapper #editable_table_filter {
    margin-top: 12px;
}

#editable_table {
    width: 100% !important;
}

#editable_table .fa-eye,
#editable_table .fa-pencil {
    margin-right: -3px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    #editable_table_filter input {
        width: 100px;
    }
}

@media (max-width: 424px) {
    .table-toolbar .users_grid_tools {
        margin-top: 15px;
    }
}

#editable_table_wrapper .form-inline td .form-control {
    display: inline-block;
    width: 83%;
    padding-left: 6px;
    vertical-align: middle;
}

@media (max-width: 1090px) {
    .dataTables_paginate > ul > li {
        padding: 5px 5px !important;
    }
}

.paging_simple_numbers .disabled:hover,
.paging_simple_numbers .disabled a:hover {
    cursor: not-allowed;
}

@media (max-width:374px) {
    #editable_table_length {
        margin-left: -50px;
    }
}

.flip-content thead > tr > th {
    padding: 11px;
}

.editable_data_table_width {
    width: 100% !important;
}

.editable_data_table_width .form-control {
    width: auto !important;
}

.dataTables_paginate >ul> li {
    list-style: none;
    display: inline;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

div.dataTables_paginate ul.pagination {
    margin-top: 10px;
}

.dataTables_paginate >ul> li:first-child,
.dataTables_paginate >ul> li:last-child {
    background-color: #4fb7fe;
}

.dataTables_paginate >ul> li:first-child>a,
.dataTables_paginate >ul> li:last-child>a {
    color: #fff;
}

.dataTables_paginate >ul> .active {
    background-color: #4fb7fe;
}

.dataTables_paginate >ul> .active a {
    color: #fff;
}

@media (min-width: 320px) and (max-width: 1058px) {
    .dataTables_paginate > ul > li {
        list-style: none;
        display: inline;
        padding: 5px 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.dataTables_scrollHeadInner,
.dataTables_scrollHeadInner .dataTable {
    width: 100% !important;
}

.tabletools-dropdown-on-portlet a {
    background-color: #4fb7fe !important;
    color: #fff !important;
}

.tabletools-dropdown-on-portlet #ToolTables_sample_1_3 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.tabletools-dropdown-on-portlet #ToolTables_sample_1_0 {
    border-radius: 0 !important;
}

#sample_5_wrapper .dataTables_scrollBody {
    width: 101.4% !important;
}
@media (max-width: 500px) {
    #sample_5_wrapper .dataTables_scrollBody {
        width: 103% !important;
    }
}

.table_res {
    width: 100% !important;
}

.btn-secondary:hover {
    background-color: #fff;
}

.data_tables .tools {
    margin-top: 50px;
}
/*row details*/
#row_details.dataTable{
    width:100% !important;
}
.dataTable tbody td {
    padding: 8px 10px;
}
#row_details.dataTable, #row_details.dataTable th, #row_details.dataTable td {
    box-sizing: content-box;
}
#row_details.dataTable thead th, #row_details.dataTable thead td {
    padding: 10px 18px;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before{
    margin-top: 2px !important;
}
.tools_dropmenu_margin {
    margin-left: -78px;
}

td.highlight {
    background-color: whitesmoke;
}

tr.selected {
    background-color: whitesmoke;
}
#sample_1_wrapper{
    margin-top: -40px;
}
@media (max-width: 767px) {
    #sample_1_filter{
        margin-top: 12px;
    }
    #sample_1_wrapper{
        margin-top: -20px;
    }
}
@media (min-width:768px) {
    #sample_1_wrapper #sample_1_filter{
        margin-top: 15px;
    }
    #sample_1_wrapper .dataTables_length,#user_body #editable_table_wrapper{
        margin-top: -35px;
    }
    #user_body .dataTables_length{
        margin-top: -50px;
    }
}
@media (max-width: 374px) {
    #user_body #editable_table_wrapper{
        margin-top: 12px;
    }

}

/*==================simple datatables=====================*/
@media (max-width:380px){
    .simple .dataTables_paginate > ul > li{
        padding: 5px 3px !important;
    }
    .simple .pagination{
        margin-left: -10px !important;
    }
}

@media (min-width: 768px) and (max-width: 830px) {
    .simple #example2_paginate .pagination{
        margin-left: -32px;
    }
    div.dataTables_wrapper div.dataTables_filter input{
        width: 75%;
    }
}
.table_status_padding a.btn:focus{
    color: #525252;
}
