.form-group label{
    margin-top: 5px;
}
/*multiselect*/
.ms-container{
    width: 100%;
}
.ms-selectable input,.ms-selection input{
    width:100%;
}
.custom-header {
    text-align: center;
    padding: 3px;
    background: #4fb7fe;
    color: #fff;
}
#ms-multi_select3 .ms-list,#ms-multi_select4 .ms-list{
    border-radius: 0;
}
#ms-multi_select4 input{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/*==================input fields==========*/
.summer_note .btn-group,.wysihtml5-toolbar .btn-group,.note-color .btn-group{
    display: inline-block;
}
.modal-header {
    display: flex;
    flex-direction: row-reverse;
}

.rounded_input
{
    border-radius: 20px;
}
.focused_input
{
    border-color: #4fb7fe;;
}
.input_top_align
{
    margin-top: 20px;
}
.chosen-container-single .chosen-single
{
    height: 32px;
    line-height: 30px;
}
.file_input .input-group .form-control:not(:last-child), .file_input .input-group-addon:not(:last-child), .file_input .input-group-btn:not(:last-child) > .btn, .file_input .input-group-btn:not(:last-child) > .btn-group > .btn, .file_input .input-group-btn:not(:last-child) > .file_input .dropdown-toggle, .file_input .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .file_input .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn
{
    height: 33px !important;
}

.chosen-container-single .chosen-single div {
    top:6px;
}
.chosen-container-multi .chosen-choices {
    padding: 3px 6px;
    border-radius:5px;
}
.deselect_close .search-choice-close{
    margin-top: 5px;
}
.chosen-container-single .chosen-single abbr{
    top:12px;
}
.check_align .input-group .form-control{
    margin-bottom: -13px;
}
.check_align .input-group .form-control-label{
    margin-right: -6px;
}
.cus_control_indicator{
    margin:-7px 0 0 1px !important;
}
.input_field_sections #tags_tagsinput{
    width: 100% !important;
}
.input_text_fields div.tagsinput span.tag{
    background: #F5B54A !important;
    border: 1px solid #F5B54A !important;
}
.input_text_fields div.tagsinput span.tag a,.input_text_fields div.tagsinput span.tag{
    color: #fff;
}
.btn-outline-primary{
    color: #5a5a5a !important;
}
.form_input_fields {
    padding: 0 30px;
}
.forms .form-group{
    margin-bottom: 0;
}
.chosen-container{
    width: 100% !important;
}
#multiple_close .search-choice-close{
    display: none !important;
}
.link-dialog
{
    z-index: 999999;
}
.note-air-popover
{
    z-index: 10;
}

/*======================Form Editors=======================*/
.summernote_editor .cke_chrome {
    visibility: hidden !important;
    display: none !important;
}
.panel-heading.note-toolbar {
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.summernote_editor .cke_toolbox {
    display: none !important;
    visibility: hidden !important;
}
.form_editors_textarea_wysihtml{
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}
.note-popover{
    display: none;
}
.note-btn-group .note-check li{
    /*margin-left: -10px;*/
}
.note-style li {
    padding-left: 10px;
}
.wysihtml5-toolbar .dropdown.open .dropdown-menu li{
    padding-left: 10px;
}
.summernote_editor .cke_chrome
{
    visibility:hidden !important;
    display: none !important;
}
[data-original-title="Font Family"]{
    width:115px;
    font-size: 12px;
}
.dropdown-menu.note-check.dropdown-fontname{
    min-width:150px;
}
.note-editor.note-frame.fullscreen{
    z-index: 99999 !important;
}
.summer_note_btn .btn-default {
    background-color: #fff;
    color: #282828;
    border:1px solid #ccc;
}
.tinymce_full #mceu_21{
    z-index: 89;
}
.mce-fullscreen .tinymce_full #mceu_21{
    z-index:99;
}
div.mce-fullscreen{
    top:-1px !important;
    bottom:0 !important;
}
.summer_note_btn .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #00c0ef;
    color: #282828;
}
.modal .btn-primary.btn-outline-primary:hover{
    color: #fff !important;
}
.wysihtml5-supported.modal-open .note-air-popover{
    display: none !important;
}

.note-editable ul li img{
    width: 100% !important;
}
.wysihtml5-toolbar .dropdown .btn-outline-primary,.wysihtml5-toolbar .dropdown .btn-secondary{
    background-color:transparent;
}
.note-icon-caret{
    display: none;
}
blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 18px;
    border-left: 5px solid #eeeeee;
}
pre{
    display: block;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    margin-bottom: 1rem;
    color: #292b2c;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media (max-width:992px) {
    .hidden-xs{
        display:none !important;
    }
}

.note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu{
    min-width:205px !important
}
@media (max-width: 346px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 165px;
    }
}
@media (min-width: 347px) and (max-width: 475px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 165px;
        margin-left: -100px;
    }
}
@media (min-width: 525px) and (max-width: 890px) {
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu {
        min-width: 240px;
    }
}
@media (min-width: 440px) and (max-width: 860px) {
    .note-popover .popover-content .note-para .dropdown-menu, .panel-heading.note-toolbar .note-para .dropdown-menu {
        left: -90px;
    }
}
.note-para .note-btn:nth-child(1){
    border-radius: 0;
}
.note-para .note-btn-group .note-btn{
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.wysihtml5-toolbar .dropdown-menu a{
    background-color: #fff;
    color:#5a5a5a;
    display:block;
    padding: 0 10px;
}
.wysihtml5-toolbar .dropdown-menu li>a:hover,.wysihtml5-toolbar .dropdown-menu li>a.wysihtml5-command-active{
    color: #fff !important;
    text-decoration: none;
    background-color: #0088cc !important;
}
.wysihtml5-toolbar .btn-group .btn{
    padding: 4px 10px 6px 10px !important;
}
.wysihtml5-command-active{
    color: #fff;

}
.wysihtml5-toolbar .btn-group .btn-secondary{
    margin-left:-3px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.dropdown-menu.note-check{
    padding-left: 10px ;
    padding-right: 10px;
}
a[data-wysihtml5-command-value="blockquote"]{
    padding-right: 15px;
}

.wysihtml5-command-active{
    background-color:#60686f !important;
    color: #fff !important;
}
.wysihtml5-toolbar .btn-group .btn-secondary{
    margin-left:-3px;
}
.modal-footer{
    display:inline;
}

.form-control-warning{
    border-color:#f0ad4e;
}
.note-editable a{
    color: #1f00ff;
}
.form-control-warning:focus{
    border-color:#f0ad4e;
    box-shadow: 0 0 0 0.2rem rgb(255, 219, 168);
}
.glyphicon-quote{
    top:-22px !important;
}
.wysihtml5-toolbar .btn-group .btn-outline-primary{
    padding: 10px 11px !important;
}
.panel-heading.note-toolbar .dropdown-menu.note-check li a i,.panel-heading.note-toolbar .dropdown-menu.note-check li a.checked i{
    visibility: visible !important;
}
@media(min-width:320px) and (max-width:1024px){
    .note-editor .note-color .dropdown-menu.show{
        transform:translate3d(27px, 20px, 0) !important;
    }
    .note-popover .popover-content .note-color .dropdown-menu, .panel-heading.note-toolbar .note-color .dropdown-menu{
        min-width: 180px;
    }
    .note-editor .note-fontname{
        min-width:82px;
    }
}
@media (min-width:320px) and (max-width:425px){
    .note-editor .note-para .dropdown-menu.show{
        transform:translate3d(-35px, 27px, 0px) !important;
    }
}
.note-editor .modal-body .note-image-url:focus{
    color: #495057;
    background-color: #fff;
    border-color: #70e3ff;
    outline: none !important;
    box-shadow:1px 1px 0 0.1rem rgba(0, 192, 239, 0.25) !important;

}
.note-editor .note-style .dropdown-menu.show{
    transform:translate3d(27px, 30px, 0) !important;
}
.note-dimension-picker-mousecatcher{
    width:100px !important;
    height:100px !important;
}
/*update css*/
.note-editor .note-toolbar-wrapper
{
    height: 0 !important;
}
.note-editing-area1
{
    margin-top: 3rem !important;
}
.modal-content .modal-footer>a.btn-outline-primary:hover
{
    color:#fff !important;
}
.no-print
{
    z-index: 990 !important;
}

#right
{
    z-index: 999;
}
.right_menu_section #request_list
{
    z-index: 9999;
}
#top .navbar-static-top
{
    z-index: 99999;
}
.modal-backdrop.show
{
    z-index: 9999 !important;
}